<div class="bg-white p-3 rounded-1">
	<div class="mb-3">
		<h5 class="pb-2 bd-b-1 bd-{{config_initial.code}}"> Mis Cursos </h5>
	</div>

	<div class="">
		<div class="pointer bd-1 bd-{{config_initial.code}} my-2" *ngFor="let carrer of allCarrers">
			<p class="collapse-header p-2 m-0 bg-{{config_initial.code}}" (click)="carrer.show = !carrer.show">{{carrer.carrera}} - {{carrer.grado}}</p>
			<div *ngIf="carrer.show" class="p-2 childrens">
				<div *ngFor="let course of carrer.courses">
					<div class="my-1 form-check">
						<input class="form-check-input" type="checkbox" id="{{course.id + course.dcurso}}" [(ngModel)]="course.asignado"  value="{{course.id}}" (change)="onChange(course)">
						<label class="form-check-label" for="{{course.id + course.dcurso}}">{{course.dcurso}}</label>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="buttons text-right">
		<button (click)="sendCourses()" class="btn btn-success">Guardar</button>
	</div>
</div>

<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>