<div class="header-responsive mb-5 d-md-none">
    <img src="assets/new-login/logo-educad-black.svg" width="144px" height="39px" alt="EDUCAD">
</div>
<div class="content-login">
    <div class="content-img d-md-block d-none">
        <img src="assets/new-login/logo-educad.svg" class="logo mb-4" width="230px" height="62px" alt="EDUCAD">
        <div (click)="goToLinks('sise')" matRipple class="content-text bg-sise mb-4">
            <img src="assets/new-login/sise-icon.svg" class="d-block mb-2" alt="S">
            Aula Virtual
            Instituto SISE
            <img src="assets/new-login/ic_chevron_right.svg" class="float-right" alt=">">
        </div>
        <div (click)="goToLinks('ucs')" matRipple class="content-text bg-ucs mb-4">
            <img src="assets/new-login/ucs-icon.svg" class="d-block mb-2" alt="S">
            Aula Virtual
            Científica Pre/CPE
            <img src="assets/new-login/ic_chevron_right.svg" class="float-right" alt=">">
        </div>
        <div (click)="goToLinks('pos')" matRipple class="content-text bg-posgrado">
            <img src="assets/new-login/pos-icon.svg" class="d-block mb-2" alt="S">
            Aula Virtual
            Científica Posgrado
            <img src="assets/new-login/ic_chevron_right.svg" class="float-right" alt=">">
        </div>
    </div>
    <div class="content-form">
        <div class="form-login">
            <form [formGroup]="loginForm" (submit)="login()">
                <h1 class="text-dark">¡Bienvenido!</h1>
                <p class="mb-5">
                    Para iniciar sesión selecciona tu entidad educativa, 
                    luego ingresa tu usuario y contraseña.
                </p>
                <mat-radio-group formControlName="empresa" aria-label="Select an option" class="d-sm-flex justify-content-between mb-4">
                    <mat-radio-button class="d-block d-sm-inline mb-3 mb-sm-0" color="accent" value="002">Universidad Cientifica de Sur</mat-radio-button>
                    <mat-radio-button color="accent" value="003">Instituto SISE</mat-radio-button>
                </mat-radio-group>
                
                <mat-form-field class="w-100 mt-3 mt-md-0" color="accent" appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input type="text" oninput="this.value = this.value.toUpperCase()" formControlName="email" matInput autocomplete="off">
                    <mat-error>Este campo es obligatorio</mat-error>
                </mat-form-field>

                <mat-form-field class="w-100" color="accent" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input formControlName="password" [type]="icon_password?'text':'password'" matInput autocomplete="off">
                    <img matSuffix *ngIf="icon_password" (click)="icon_password=false" src="assets/new-login/ic_eye_on.svg" alt="e" class="mb-3 cursor-pointer">
                    <img matSuffix *ngIf="!icon_password" (click)="icon_password=true" src="assets/new-login/ic_eye_off.svg" alt="eo" class="mb-3 cursor-pointer">
                    <mat-error>Este campo es obligatorio</mat-error>
                </mat-form-field>
                
                <button mat-raised-button type="submit" color="primary" class="w-100 hover-custom py-1 mb-4">Iniciar Sesión</button>

                <div class="text-center mb-4 mb-md-0">
                    <a [href]="forgotPasswordUrl" target="_blank" class="d-block mb-3 mb-md-5 font-weight-bold">¿Olvidaste tu contraseña?</a>
                    <span>¿Aún no eres docente? <br class="d-block d-md-none"> <a href="https://incorporacion.educad.pe/" target="_blank" class="font-weight-bold">Regístrate aquí</a></span>
                </div>
                <div class="text-right d-block d-md-none mb-2 wsp-fixed">
                    <mat-menu #appMenu="matMenu" xPosition="before">
                        <div style="font-weight: 600; color: #262626; font-size: 14px;" class="pl-4 pt-3 pb-2">
                            ¿Necesitas Ayuda?
                        </div>
                        <a mat-menu-item href="https://api.whatsapp.com/send?phone=+51988576507" target="_blank">
                            <img src="assets/new-login/wsp-mini-icon.svg" class="mr-2" alt="W"> Comunidad Científica
                        </a>
                        <a mat-menu-item href="https://api.whatsapp.com/send?phone=5117071846" target="_blank">
                            <img src="assets/new-login/wsp-mini-icon.svg" class="mr-2" alt="W"> Comunidad SISE
                        </a>
                    </mat-menu>
                    <img src="assets/new-login/wsp-icon.svg" width="52px" height="52px" class="cursor-pointer" [matMenuTriggerFor]="appMenu" alt="">
                </div>
                <div class="wsp-link d-none d-md-block">
                    <mat-menu #appMenu="matMenu" xPosition="before">
                        <div style="font-weight: 600; color: #262626; font-size: 14px;" class="pl-4 pt-3 pb-2">
                            ¿Necesitas Ayuda?
                        </div>
                        <a mat-menu-item href="https://api.whatsapp.com/send?phone=+51988576507" target="_blank">
                            <img src="assets/new-login/wsp-mini-icon.svg" class="mr-2" alt="W"> Comunidad Científica
                        </a>
                        <a mat-menu-item href="https://api.whatsapp.com/send?phone=5117071846" target="_blank">
                            <img src="assets/new-login/wsp-mini-icon.svg" class="mr-2" alt="W"> Comunidad SISE
                        </a>
                    </mat-menu>
                    <img src="assets/new-login/wsp-icon.svg" [matMenuTriggerFor]="appMenu" alt="">
                </div>
            </form>
        </div>
        <div class="content-urls d-block d-md-none">
            <div class="content-text bg-sise" (click)="goToLinks('sise')">
                <img src="assets/new-login/sise-icon.svg" alt="S">
                <label> Aula Virtual
                Instituto SISE</label>
                <img src="assets/new-login/ic_chevron_right.svg" class="float-right" alt=">">
            </div>
            <div class="content-text bg-ucs" (click)="goToLinks('ucs')">
                <img src="assets/new-login/ucs-icon.svg" alt="S">
                <label>Aula Virtual
                Científica Pre/CPE</label>
                <img src="assets/new-login/ic_chevron_right.svg" class="float-right" alt=">">
            </div>
            <div class="content-text bg-posgrado" (click)="goToLinks('pos')">
                <img src="assets/new-login/pos-icon.svg" alt="S">
                <label>Aula Virtual
                Científica Posgrado</label>
                <img src="assets/new-login/ic_chevron_right.svg" class="float-right" alt=">">
            </div>
        </div>
        <div class="mt-auto footer py-5 py-md-4 text-center">
            © 2021 Grupo Educa_d - Todos los derechos reservados
        </div>
    </div>
</div>

<div class="relative full-page">
    <div class="absolute-">

    </div>
</div>

<ngx-smart-modal #siseModalCloseWebsite identifier="siseModalCloseWebsite" [closable]="false" [escapable]="false"
    [dismissable]="false" [customClass]="''">
    <h6 class="m0">PAGINA WEB EN MANTENIMIENTO</h6>
    <hr>
    <p>
        Con la finalidad de mejorar nuestros servicios, les comunicamos que se realizará un mantenimiento de nuestros
        sistemas.
    </p>
</ngx-smart-modal>

<ngx-smart-modal #confirmpostulanteModal identifier="confirmpostulanteModal" [closable]="false" [escapable]="false"
    [dismissable]="false" [customClass]="''">
    <h6>Estimado Postulante:</h6>
    <hr>
    <a class="pointer link top-t-20" style="color:#007bff !important"
        (click)="openRegistroPostulante(); confirmpostulanteModal.close();"> Si eres nuevo registrate ingresando aquí <i
            class="fa fa-angle-double-right"></i></a><br>
    <a class="link top-t-20" style="color:#007bff !important" href="http://incorporacion.educad.pe"
        (click)="confirmpostulanteModal.close();"> Si ya te encuentras registrado accede ingresando aquí <i
            class="fa fa-angle-double-right"></i></a><br>
    <hr>
    <div class="text-center">
        <button (click)="confirmpostulanteModal.close()" class="btn btn-secondary mr-2">Cerrar</button>
    </div>
</ngx-smart-modal>

<ngx-smart-modal #registropostulanteModal identifier="registropostulanteModal" [closable]="false" [escapable]="false"
    [dismissable]="false" [customClass]="''">
    <h5>Registro Postulante</h5>

    <hr>

    <form [formGroup]="postulanteForm" class="form">

        <div class="form-group">
            <div class="row">
                <div class="col-md-12" style="padding-right: 5px !important; padding-left: 5px !important;">
                    <label class="form-label"> Seleccione Institución a Postular* </label>
                    <select formControlName="unidad" [(ngModel)]="unidad" name="unidad" class="custom-select">
                        <option value="">Selecciona . . .</option>
                        <option *ngFor="let tco of allCompany" [value]="tco.codigo_referencia">{{tco.descripcion}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6" style="padding-right: 5px !important; padding-left: 5px !important;">
                    <label class="form-label"> Nombre* </label>
                    <input class="form-control" type="text" formControlName="nombre" [(ngModel)]="nombre"
                        placeholder="Nombre">
                </div>
                <div class="col-lg-6" style="padding-right: 5px !important; padding-left: 5px !important;">
                    <label class="form-label"> Apellido Paterno* </label>
                    <input class="form-control" type="text" formControlName="apaterno" [(ngModel)]="apaterno"
                        placeholder="Apellido Paterno">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6" style="padding-right: 5px !important; padding-left: 5px !important;">
                    <label class="form-label"> Apellido Materno* </label>
                    <input class="form-control" type="text" formControlName="amaterno" [(ngModel)]="amaterno"
                        placeholder="Apellido Materno">
                </div>
                <div class="col-lg-6" style="padding-right: 5px !important; padding-left: 5px !important;">
                    <label for="">Fecha Nacimiento</label>
                    <input type="date" class="form-control" formControlName="fnacimiento" [(ngModel)]="fnacimiento">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-6" style="padding-right: 5px !important; padding-left: 5px !important;">
                    <label class="form-label">Tipo Documento* </label>
                    <select formControlName="tipo_documento" [(ngModel)]="tipo_documento" class="custom-select">
                        <option value="">Selecciona . . .</option>
                        <option *ngFor="let tdi of allTDI" [value]="tdi.codigo_referencia">{{tdi.descripcion}}</option>
                    </select>
                </div>

                <div class="col-lg-6" style="padding-right: 5px !important; padding-left: 5px !important;">
                    <label class="form-label"> Nro Documento* </label>
                    <input type="text" class="form-control" formControlName="dni" [(ngModel)]="dni"
                        placeholder="Número de documento">
                    <!--<input class="form-control" type="text" formControlName="dni" [(ngModel)]="dni" placeholder="DNI" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==8 && event.keyCode!=8) return false;">-->
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-12" style="padding-right: 5px !important; padding-left: 5px !important;">
                    <label class="form-label"> Email* </label>
                    <input class="form-control" type="text" formControlName="correo" [(ngModel)]="correo"
                        placeholder="Email">
                </div>
            </div>
        </div>

    </form>

    <div class="text-center">
        <button (click)="registropostulanteModal.close()" class="btn btn-secondary mr-2">Cerrar</button>
        <button (click)="savePostulante()" class="btn btn-primary"><span class="fa fa-floppy-o"></span> Guardar</button>
    </div>
</ngx-smart-modal>

<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>