.link:hover {
	text-decoration: underline;
}

.menu-forgot {
	a {
		display: block;
	}
}

.list_sise {
	list-style: inherit;
	list-style-position: inside;
}

.content-login {
	display: flex;
	position: relative;
	.content-img {
		background-image: url(../../assets/new-login/banner-login.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		min-height: 100vh;
		width: 50%;
		padding: 63px 56px;
		position: relative;
	}
	.content-form {
		width: 50%;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		.form-login {
			width: 360px;
			height: 100%;
			margin: 0 auto;
			display: flex;
			justify-content: center;
			align-items: center;
			a {
				color: #212b36;
				text-decoration: none;
			}
		}
	}
}

.footer {
	color: #637381;
	background-color: #f4f6f8;
	height: 50px !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wsp-link {
	position: fixed;
	cursor: pointer;
	bottom: 80px;
	right: 40px;
}

.bg-sise {
	background-color: #ee2d2c;
	&:hover{
		background-color: #F44746;
	}
}

.bg-ucs {
	background-color: #22468f;
	&:hover{
		background-color: #3A5DA4;
	}
}

.bg-posgrado {
	background-color: #1a213d;
	&:hover{
		background-color: #2F3654;
	}
}
a{
	text-decoration: none;
	&:hover{
		color: rgba(0, 0, 0, 0.87);
	}
}
.content-text {
	width: 121px;
	height: 134px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	padding: 20px;
	border-radius: 13.49px;
	font-size: 14px;
	&:hover{
		box-shadow: 5px 5px 15px #777371;
	}
}

.hover-custom{
	&:hover{
		box-shadow: 5px 5px 15px #777371;
	}
}

.header-responsive {
	height: 87px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #040505;
}

.content-urls {
	.content-text {
		img:first-child {
			margin-right: 24px;
		}
		label {
			margin: 0;
		}
		width: 100%;
		height: 76px;
		margin-bottom: 2px;
		color: #fff;
		cursor: pointer;
		padding: 24px 37px;
		font-size: 14px;
		border-radius: 0 !important;
		&:hover{
			box-shadow: 5px 5px 15px #777371;
		}
	}
}

@media (max-width: 770px) {
	.content-form {
		width: 100% !important;
	}
}

@media (max-width: 400px) {
	.content-login {
		.content-form {
			.form-login {
				width: 230px !important;
			}
		}
	}

	.content-urls {
		.content-text {
			img:first-child {
				float: left;
				margin-right: 24px;
			}
			label {
				margin: 0;
				width: 140px;
			}
		}
	}
}


.wsp-fixed{
	position: fixed;
	bottom: 10px;
	right: 10px;
}