<div class="bg-gray full-content">
	<div class="row container-2 mx-auto py-2">
		<div class="col-md-12 col-lg-3 pr-3">
			<div class="py-3 bg-white full-content rounded-1 d-none d-lg-block">
				<div class="col-12 ">
					<div class="row justify-content-center mt-5 mb-4">
			            <img src="{{config_initial.img}}" width="50%" alt="">
			        </div>
					<div class="text-center mb-4">
						<i class="fa fa-user fa-4x mb-4"></i>
						<p class="mb-1 text-m">Te damos la bienvenida</p>
						<h5 class="text-xm"><strong>{{ user.name + ' ' + user.surname }}</strong></h5>
						<p>{{ user.emplid_moodle }}</p>
						<a class="btn bg-gray rounded-2 text-normal">Datos Personales</a>
					</div>
				</div>

				<ul class="col-12 pr-0 pb-5">
					 <!-- Aca van los menús -->
					 <div *ngFor="let menu of menus">
                        <li *ngIf="menu.uri=='noticias'">
                            <a class="w-100 hover-{{config_initial.code}}" (click)="goTraining()">+ Capacítate aquí</a>
                        </li>
                        <li  *ngIf="menu.uri!='noticias'">
                            <a class="w-100 hover-{{config_initial.code}}" routerLinkActive="active-link {{config_initial.code}}" [routerLink]="'/docente/' + (menu.uri?menu.uri:'general')">+ {{menu.title}}</a>
                        </li>
                        <div *ngFor="let submenu of menu.below">
                            <li class="pl-2">
                                <a class="w-100 hover-{{config_initial.code}}" routerLinkActive="active-link {{config_initial.code}}" [routerLink]="submenu.uri">- {{submenu.title}}</a>
                            </li>
                        </div>
                    </div>
					 <li> <a class="w-100 hover-{{config_initial.code}}" href="http://cultura.educad.pe/" target="_blank">+ Somos Educa_d</a> </li>
                    <li *ngIf="cod_company === '003'"> <a class="w-100 hover-{{config_initial.code}}" target="_blank" href="http://aulavirtual.sise.edu.pe/local/wseducad/auth/sso.php?strm=0000&class=0000&course=000000&emplid={{emplid_real}}&token=DOCENTE" >+ Inducción Docente</a> </li>
                    <li> <a class="w-100 hover-{{config_initial.code}}" (click)="getBenefits()">+ Beneficios</a> </li>
                    <li> <a href="/docente/general" class="w-100 hover-{{config_initial.code}}">+ Canal de Ética</a> </li>
                    <li class="pl-2"> <a class="w-100 hover-{{config_initial.code}}" target="_blank" href="https://grupoeducad.sharepoint.com/sites/RepositorioProceso/SitePages/doc/DGT-RES-POL-01%20C%C3%B3digo%20de%20%C3%89tica.pdf">- Código de Ética</a> </li>
                    <li class="pl-2"> <a class="w-100 hover-{{config_initial.code}}" target="_blank" href="https://grupoeducad.sharepoint.com/portals/hub/_layouts/15/PointPublishing.aspx?app=video&p=p&chid=bb8aab6b-b381-4a09-b6c2-e185835c743b&vid=b63a720d-4a5f-440e-801a-9eeb15f3d4a9">- Procedimiento</a> </li>
                    <li class="pl-2"> <a class="w-100 hover-{{config_initial.code}}" routerLinkActive="active-link {{config_initial.code}}" [routerLink]="['denuncia']">- Portal de Denuncia</a> </li>
                    <li> <a class="w-100 hover-{{config_initial.code}}" target="_blank" href="https://grupoeducad.sharepoint.com/sites/RepositorioProceso/SitePages/RepositorioProceso.aspx" >+ Procedimientos y Políticas</a></li>
                    <li> <a class="w-100 hover-{{config_initial.code}}" routerLinkActive="active-link {{config_initial.code}}" [routerLink]="['/docente/biblioteca']">+ Biblioteca</a></li>
                    <li> <a class="w-100 hover-{{config_initial.code}}" (click)="logout()">+ Cerrar Sesión</a></li>
				</ul>
				
			</div>
			<div class="bg-white rounded-1 d-lg-none mb-2 py-2 px-3">
				<div class="row align-items-center justify-content-between">
					<img src="{{config_initial.img}}" width="100px" alt="">

					<button class="btn bg-{{config_initial.code}} text-white" (click)="menu_bars = !menu_bars">
						<i class="fa fa-bars"></i>
					</button>
				</div>

				<div *ngIf="menu_bars">
					<ul class="mb-2 mt-2">
						 <div *ngFor="let menu of menus">
	                        <li *ngIf="menu.uri=='noticias'">
	                            <a class="w-100 hover-{{config_initial.code}} px-2" (click)="goTraining()">+ Capacítate aquí</a>
	                        </li>
	                        <li  *ngIf="menu.uri!='noticias'">
	                            <a class="w-100 hover-{{config_initial.code}} px-2" routerLinkActive="active-link" [routerLink]="'/docente/' + (menu.uri?menu.uri:'general')">+ {{menu.title}}</a>
	                        </li>
	                        <div *ngFor="let submenu of menu.below">
	                            <li>
	                                <a class="w-100 hover-{{config_initial.code}} px-3" routerLinkActive="active-link" [routerLink]="submenu.uri">- {{submenu.title}}</a>
	                            </li>
	                        </div>
	                    </div>
	                    <li> <a class="w-100 hover-{{config_initial.code}} px-2" routerLinkActive="active-link" [routerLink]="['/docente/biblioteca']">+ Biblioteca</a></li>
	                    <li> <a class="w-100 hover-{{config_initial.code}} px-2" (click)="logout()">+ Cerrar Sesión</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-12 col-lg-9 pl-3">
			<div class="panel mb-2">
				<a href="https://es.surveymonkey.com/r/WPSCTXS" target="_blank">
					<img class="rounded-1" alt="" src="assets/Encuesta2.jpg" width="100%">
				</a>
			</div>

			<router-outlet></router-outlet>
		</div>
	</div>
</div>

<div class="position-fixed float-wsp-br row align-items-end flex-column">
	<div class="row flex-column bg-white m-2 p-3 rounded-1 shadow position-relative" *ngIf="showwsp">
		<div class="triangle-b bd-t-white position-absolute float-triangle-br"></div>
		<a href="https://api.whatsapp.com/send?phone=5117071810" target="_blank" class="text-black text-xm p-1"><i class="fa fa-whatsapp text-wsp text-l"></i> Atención Docente Científica </a>
	</div>
	<div class="text-right">
		<a (click)="showwsp = !showwsp" class="circle-mi row justify-content-center align-items-center bg-wsp pointer">
			<img style="width: 40px" src="./assets/wsp.png">
		</a>
	</div>
</div>
	