<div [class.bg-ucs]="config_initial.code=='ucs'" [class.bg-dark-custom]="config_initial.code=='sise'"
    class="header-cust" style="position: fixed;
    z-index: 4;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 85px;
    display: flex;">

    <div *ngIf="!opened" class="p-2" (click)="drawer.toggle()" matRipple
        style="cursor: pointer; margin-right: 40px; border-radius: 50%; margin-left: -40px;">
        <mat-icon svgIcon="ic_menu"></mat-icon>
    </div>
    <div *ngIf="opened && mode=='over'" class="p-2" (click)="drawer.toggle()" matRipple
        style="cursor: pointer; margin-right: 40px; border-radius: 50%; margin-left: -40px;">
        <mat-icon svgIcon="ic_close"></mat-icon>
    </div>

    <img *ngIf="config_initial.code=='ucs'" class="mr-auto ml-auto-mobile mr-lg-0 cursor-pointer" src="assets/new-login/ucs_logo.svg" alt="" routerLink="/docente/docentes-marcacion" (click)="menuClose();">
    <img *ngIf="config_initial.code!='ucs'" class="mr-auto ml-auto-mobile mr-lg-0 cursor-pointer" src="assets/new-login/sise_logo.svg" alt="" routerLink="/docente/docentes-marcacion" (click)="menuClose();">
    <div *ngIf="isdesktop" class="text-white d-flex align-items-center" (menuOpened)="stateMenu=true" (menuClosed)="stateMenu=false"
    [matMenuTriggerFor]="appMenu"  style="cursor: pointer;">
        <div class="mr-4">
            {{user.abr}}
            <br>
            ID: {{emplid_real}}
        </div>
        <div class="name-head">
            {{user.initial_names}} <img [class.rotate]="!stateMenu" src="assets/new-login/up_chevron.svg" alt="">
        </div>

        <mat-menu #appMenu="matMenu" class="mt-2" xPosition="before">
            <div class="px-5 pt-3 pb-4" style="color: #637381; font-size: 14px;">
                <strong style="color: #212B36; font-weight: 500; font-size: 16px;">{{user.abr}}</strong>
                <br>
                {{(user.email2 || user.email) | lowercase }}
            </div>
            <mat-divider></mat-divider>

            <div class="text-center px-5 pt-4 pb-3 div-perfil-item"  (click)="goIncorporacion()">
                <mat-icon class="btn-icon" style="margin: 0px 15px 0px 0px;" svgIcon="ic_curriculum_vitae"></mat-icon>
                Mi Curriculum Vitae
            </div>
            <div class="text-center px-5 pt-4 pb-3 div-perfil-item" (click)="openTab(config_initial.code == 'ucs' ? 'https://recuperacontrasena.cientifica.edu.pe/docente' : 'https://recuperacontrasena.sise.edu.pe/docente')">
                <mat-icon class="btn-icon" style="margin: 0px 15px 0px 0px;" svgIcon="ic_cambiar_contrasena"></mat-icon>
                Cambiar Contraseña
            </div>
            <div class="text-center px-5 pt-4 pb-3 div-perfil-item" (click)="logout()">
                <mat-icon class="btn-icon" style="margin: 0px 15px 0px 0px;" svgIcon="ic_cerrar_sesion"></mat-icon>
                Cerrar sesión
            </div>

        </mat-menu>
    </div>
</div>

<mat-drawer-container class="example-container" autosize>

    <mat-drawer #drawer class="example-sidenav menu-z-index" [class.w-100]="!isdesktop" [class.w-300]="isdesktop" [class.bg-ucs-desktop]="isdesktop && config_initial.code=='ucs'"
        [class.bg-ucs-mobile]="!isdesktop && config_initial.code=='ucs'"
        [class.bg-sise-desktop]="isdesktop && config_initial.code=='sise'"
        [class.bg-sise-mobile]="!isdesktop && config_initial.code=='sise'"
        [class.sidenav-content-ucs]="config_initial.code=='ucs'"
        [class.sidenav-content-sise]="config_initial.code=='sise'" [opened]="opened" (openedStart)="opened=true"
        (closedStart)="opened=false" [mode]="mode">

        <div class="content-title f-w-600 content-desktop">
            GESTIÓN DOCENTE
        </div>
        
        <div *ngIf="!isdesktop" class="content-item content-item-user-{{config_initial.code}}">
            <div>
                {{user.abr}}
            </div>
            <p> {{emplid_real}} </p> 
        </div>

        <div class="content-item" routerLinkActive="active" routerLink="/docente/docentes-marcacion" (click)="cleanContentSub();drawerToggle();">
            <mat-icon class="btn-icon" svgIcon="ic_home"></mat-icon>
            Inicio
        </div>
        
        <div class="content-item" routerLinkActive="active" (click)="cleanContentSub();drawerToggle();"
            routerLink="{{ config_initial.code=='ucs' ? '/docente/docentes-cientifica' : '/docente/docentes' }}"
            >
            <mat-icon class="btn-icon" svgIcon="ic_mis_cursos"></mat-icon>
            Mis cursos
        </div>

        <div class="content-item" routerLinkActive="active" routerLink="/docente/docentes-horario" (click)="cleanContentSub();drawerToggle();">
            <mat-icon class="btn-icon" svgIcon="ic_mi_horario"></mat-icon>
            Mi horario
        </div>

        <div class="content-item" routerLinkActive="active" routerLink="/docente/docentes-historico_marcacion" (click)="cleanContentSub();drawerToggle();">
            <mat-icon class="btn-icon" svgIcon="ic_historial_marcacion"></mat-icon>
            Historial de marcación
        </div>

        <!-- <div *ngIf="config_initial.code == 'ucs'" class="content-item-expand">
            <div class=" expand-content-items" #contentPadre1 (click)="expandContentSub(contentSub1,contentPadre1)" >
                <mat-icon class="btn-icon" svgIcon="ic_registra_disponibilidad"></mat-icon>
                Registrar disponibilidad
                <mat-icon class="btn-icon ml-auto" svgIcon="ic_chevron_right"></mat-icon>
            </div>
            <div class="d-none" #contentSub1>
                <div class="content-sub-item" routerLinkActive="active-sub-item" routerLink="/docente/horario-virtual" #contentHijo11 (click)="focusContentSub(contentHijo11);drawerToggle();">
                    <mat-icon class="btn-icon" svgIcon="point"></mat-icon>
                    Disponibilidad horarios
                </div>
                <div class="content-sub-item" routerLinkActive="active-sub-item" routerLink="/docente/cursos-clases" #contentHijo12 (click)="focusContentSub(contentHijo12);drawerToggle();">
                    <mat-icon class="btn-icon" svgIcon="point"></mat-icon>
                    Disponibilidad cursos
                </div>
            </div>
        </div> -->
        
        <div *ngIf="config_initial.code == 'ucs' && director"  class="content-item-expand">
            <div class=" expand-content-items" #contentPadre1_1 (click)="expandContentSub(contentSub1_1,contentPadre1_1)" >
                <mat-icon class="btn-icon" svgIcon="ic_director"></mat-icon>
                Director
                <mat-icon class="btn-icon ml-auto" svgIcon="ic_chevron_right"></mat-icon>
            </div>
            <div class="d-none" #contentSub1_1>
                <div class="content-sub-item" routerLinkActive="active-sub-item" routerLink="/docente/director/anadir_docente" #contentHijo111 (click)="focusContentSub(contentHijo111);drawerToggle();">
                    <mat-icon class="btn-icon" svgIcon="point"></mat-icon>
                    Añadir docente
                </div>
                <div class="content-sub-item" routerLinkActive="active-sub-item" routerLink="/docente/director/anadir_curso" #contentHijo122 (click)="focusContentSub(contentHijo122);drawerToggle();">
                    <mat-icon class="btn-icon" svgIcon="point"></mat-icon>
                    Añadir curso
                </div>
                <div class="content-sub-item" routerLinkActive="active-sub-item" routerLink="/docente/director/consulta_docente" #contentHijo123 (click)="focusContentSub(contentHijo123);drawerToggle();">
                    <mat-icon class="btn-icon" svgIcon="point"></mat-icon>
                    Consultar docente
                </div>
                <div class="content-sub-item" routerLinkActive="active-sub-item" routerLink="/docente/director/consulta_cursos" #contentHijo124 (click)="focusContentSub(contentHijo124);drawerToggle();">
                    <mat-icon class="btn-icon" svgIcon="point"></mat-icon>
                    Consultar cursos
                </div>
            </div>
        </div>

        <div class="content-item-expand">
            <div class="expand-content-items" #contentPadre2 (click)="expandContentSub(contentSub2,contentPadre2)">
                <mat-icon class="btn-icon" svgIcon="ic_tramite"></mat-icon>
                Mis Trámites
                <mat-icon class="btn-icon ml-auto" svgIcon="ic_chevron_right"></mat-icon>
            </div>
            <div class="d-none" #contentSub2>
                <div class="content-sub-item" routerLinkActive="active-sub-item" #contentHijo21 (click)="focusContentSub(contentHijo21);drawerToggle();"
                    *ngIf="opMenuBoletasPago"
                    routerLink="/docente/historial-boletas">
                    <mat-icon class="btn-icon" svgIcon="point"></mat-icon>
                    Boletas de  pago
                </div>
                <div class="content-sub-item" routerLinkActive="active-sub-item" #contentHijo22 (click)="focusContentSub(contentHijo22);drawerToggle();"
                    routerLink="/docente/vacaciones"
                    *ngIf="opMenuVacaciones"
                    >
                    <mat-icon class="btn-icon" svgIcon="point"></mat-icon>
                    Solicitar vacaciones
                </div>
                <div class="content-sub-item" routerLinkActive="active-sub-item" routerLink="/docente/constancia-trabajo" #contentHijo23 (click)="focusContentSub(contentHijo23);drawerToggle();"
                    *ngIf="opMenuConstanciaTrabajo">
                    <mat-icon class="btn-icon" svgIcon="point"></mat-icon>
                    Constancia de trabajo
                </div>
                <div class="content-sub-item" (click)="openTab('https://bit.ly/3uVfTxF')" #contentHijo24 (click)="focusContentSub(contentHijo24);drawerToggle();">
                    <mat-icon class="btn-icon" svgIcon="point"></mat-icon>
                    Ver Requisitos
                </div>
            </div>
        </div>
        
        <div class="content-item" (click)="goTraining();drawerToggle();">
            <mat-icon class="btn-icon" svgIcon="ic_capacitacion"></mat-icon>
            Capacitación virtual
        </div>

        <div class="content-item" (click)="getDataRemotex();drawerToggle();">
            <mat-icon class="btn-icon" svgIcon="ic_biblioteca"></mat-icon>
            Biblioteca
        </div>


        <div class="content-item" routerLinkActive="active" routerLink="/docente/resultados-evaluacion" (click)="cleanContentSub();drawerToggle();">
            <mat-icon class="btn-icon" svgIcon="ic_evaluacion"></mat-icon>
            Evaluación docente
        </div>

        <div class="content-item-expand">
            <div class="expand-content-items" #contentPadre3 (click)="expandContentSub(contentSub3,contentPadre3)">
                <mat-icon class="btn-icon-2 btn-icon-custom" svgIcon="ic_tutoriales"></mat-icon>
                Tutoriales
                <mat-icon class="btn-icon ml-auto" svgIcon="ic_chevron_right"></mat-icon>
            </div>
            <div class="d-none" #contentSub3>
                <div class="content-sub-item" (click)="openTab('https://vimeo.com/555819732');drawerToggle();">
                    <mat-icon class="btn-icon" svgIcon="point"></mat-icon>
                    Sobre Educanet
                </div>
                <div class="content-sub-item" (click)="openTab('https://vimeo.com/559086745');drawerToggle();">
                    <mat-icon class="btn-icon" svgIcon="point"></mat-icon>
                    Sobre boletas de pago
                </div>
                <div *ngIf="config_initial.code == 'ucs'"
                    class="content-sub-item" (click)="openTab('https://vimeo.com/user/80828096/folder/7629072');drawerToggle();">
                    <mat-icon class="btn-icon" svgIcon="point"></mat-icon>
                    Aula Virtual Pre-CPE
                </div>
                <div class="content-sub-item" (click)="openTab('https://web.microsoftstream.com/video/b63a720d-4a5f-440e-801a-9eeb15f3d4a9');drawerToggle();">
                    <mat-icon class="btn-icon" svgIcon="point"></mat-icon>
                    Canal de ética
                </div>
            </div>
        </div>

        <div class="content-title" >
            GRUPO EDUCA-D
        </div>

        <div class="content-item" (click)="openTab('http://cultura.educad.pe/');drawerToggle();">
            <mat-icon class="btn-icon" svgIcon="ic_somos"></mat-icon>
            ¿Quienes somos?
        </div>
        <div *ngIf="config_initial.code == 'ucs'" class="content-item" (click)="openTab('https://docs.cientifica.edu.pe/ux/DESCUENTOS%20ACAD%C3%89MICOS%20DOCENTES.pdf');drawerToggle();">
            <mat-icon class="btn-icon" svgIcon="ic_beneficios"></mat-icon>
            Beneficios
        </div>
        <div *ngIf="config_initial.code == 'sise'"
            class="content-item"
            (click)="openTab('https://docs.cientifica.edu.pe/miportal_sise/educanet/DIRECTIVA_NOVIEMBRE.pdf');drawerToggle();">
            <mat-icon class="btn-icon" svgIcon="ic_directivas_academicas"></mat-icon>
            Directivas Académicas
        </div>
        <div class="content-item"
            (click)="openTab('https://grupoeducad.sharepoint.com/sites/RepositorioProceso/SitePages/RepositorioProceso.aspx');drawerToggle();">
            <mat-icon class="btn-icon" svgIcon="ic_manual"></mat-icon>
            Manual y procedimientos
        </div>

        <div class="content-item-expand">
            <div class="expand-content-items" #contentPadre4 (click)="expandContentSub(contentSub4,contentPadre4)">
                <mat-icon class="btn-icon" svgIcon="ic_etica"></mat-icon>
                Canal de ética
                <mat-icon class="btn-icon ml-auto" svgIcon="ic_chevron_right"></mat-icon>
            </div>
            <div class="d-none" #contentSub4>
                <div class="content-sub-item"
                    (click)="openTab('https://grupoeducad.sharepoint.com/sites/RepositorioProceso/SitePages/doc/DGT-RES-POL-01%20C%C3%B3digo%20de%20%C3%89tica.pdf');drawerToggle();">
                    <mat-icon class="btn-icon" svgIcon="point"></mat-icon>
                    Código de ética
                </div>
                <div class="content-sub-item" routerLinkActive="active-sub-item" routerLink="/docente/denuncia" (click)="drawerToggle();">
                    <mat-icon class="btn-icon" svgIcon="point"></mat-icon>
                    Ingresar denuncia
                </div>
            </div>
        </div>

        <hr class="content-hr" />
        
        <div class="content-item content-mobile" (click)="goIncorporacion();drawerToggle();">
            <mat-icon class="btn-icon mr-3" style="margin: 0px 15px 0px 0px;" svgIcon="ic_mi_curriculum_vitae"></mat-icon>
            Mi Curriculum Vitae
        </div>
        
        <div class="content-item content-mobile" (click)="openTab(config_initial.code == 'ucs' ? 'https://recuperacontrasena.cientifica.edu.pe/docente' : 'https://recuperacontrasena.sise.edu.pe/docente')">
            <mat-icon class="btn-icon mr-3" style="margin: 0px 15px 0px 0px;" svgIcon="ic_cambiar_contrasena"></mat-icon>
            Cambiar Contraseña
        </div>

        <div class="content-item content-mobile" style="margin: 0px 15px 0px 0px;"
            (click)="logout()">
            <mat-icon class="btn-icon mr-3" style="margin: 0px 15px 15px 0px;" svgIcon="ic_logout"></mat-icon>
            Cerrar Sesión
        </div>

        <div class="content-item content-mobile" style="margin: 0px 15px 0px 0px;cursor: auto">
           
        </div>

    </mat-drawer>

    <div style="
            display: flex!important;
            overflow-y: auto;
            position: relative;
            flex-basis: 0;
            flex-grow: 1;
            flex-direction: column!important;
            height: inherit;
        ">
        <div class="example-sidenav-content pt-8 px-4 container-child" #mainScreen>
                <router-outlet></router-outlet>            
        </div>
        <div class="mt-auto">
            <div class="footer-custom">
                © 2021 Grupo Educa_d -  Todos los derechos reservados 
            </div>
        </div>
    </div>
</mat-drawer-container>

<form target="_blank" action="https://cientifica.remotexs.co/alumni/login" method=post [formGroup]="digitalLibraryData"
    #digitalData id="formulario1">
    <input formControlName="DigitalLibraryAttribute1" name="DigitalLibraryAttribute1" id="DigitalLibraryAttribute1"
        type="text" /><br />
    <input formControlName="DigitalLibraryAttribute2" name="DigitalLibraryAttribute2" id="DigitalLibraryAttribute2"
        type="text" /><br />
    <input formControlName="DigitalLibraryAttribute3" name="DigitalLibraryAttribute3" id="DigitalLibraryAttribute3"
        type="text" /><br />
    <input formControlName="DigitalLibraryAttribute4" name="DigitalLibraryAttribute4" id="DigitalLibraryAttribute4"
        type="text" /><br />
    <input formControlName="DigitalLibraryAttribute5" name="DigitalLibraryAttribute5" id="DigitalLibraryAttribute5"
        type="text" /><br />
    <input formControlName="DigitalLibraryAttribute6" name="DigitalLibraryAttribute6" id="DigitalLibraryAttribute6"
        type="text" /><br />
    <input formControlName="DigitalLibraryAttribute7" name="DigitalLibraryAttribute7" id="DigitalLibraryAttribute7"
        type="text" /><br />
    <input formControlName="DigitalLibraryAttribute8" name="DigitalLibraryAttribute8" id="DigitalLibraryAttribute8"
        type="text" /><br />
    <input formControlName="DigitalLibraryAttribute9" name="DigitalLibraryAttribute9" id="DigitalLibraryAttribute9"
        type="text" /><br />
    <input formControlName="DigitalLibraryAttribute10" name="DigitalLibraryAttribute10" id="DigitalLibraryAttribute10"
        type="text" /><br />
</form>

<ngx-smart-modal #ethnicityModal identifier="ethnicityModal" [closable]="false" [escapable]="false"
    [dismissable]="false" [customClass]="''">
    <div class="text-center mb-3">
        <h5>Actualización de Datos</h5>
    </div>
    <p class="m-0">Estimado docente, </p>
    <p>A solicitud del MINEDU requerimos su apoyo para registrar la siguiente información:</p>

    <div class="form">
        <div class="form-group">
            <label class="form-label"> Etnía a la que pertenece </label>
            <select class="form-control" name="etnia" [(ngModel)]="realEthnicity">
                <option value=""> SELECCIONE </option>
                <option *ngFor="let ethnicity of ethnicities" value="{{ethnicity.value}}"> {{ethnicity.name}} </option>
            </select>
        </div>

        <div *ngIf="realEthnicity == '08'" class="form-group">
            <label class="form-label"> Por favor Registre </label>
            <input class="form-control" type="text" name="otros" [(ngModel)]="realOther" placeholder="Otros">
        </div>
    </div>

    <div class="text-center">
        <button (click)="ethnicityModal.close()" class="btn btn-secondary mr-2">Cerrar</button>
        <button (click)="saveEthnicity()" class="btn btn-success">Guardar</button>
    </div>
</ngx-smart-modal>

<ngx-smart-modal #surveyModal identifier="surveyModal" [closable]="false" [escapable]="true" [dismissable]="true"
    [customClass]="''">
    <div class="mb-3 row justify-content-between pb-2 bd-b-1 bd-{{config_initial.code}}">
        <h5 class=""> <strong> Encuesta 2021 </strong> </h5>
        <a (click)="surveyModal.close()" class="pointer"><i
                class="fa fa-times text-{{config_initial.code}} text-l"></i></a>
    </div>
    <div class="h-fn scroll fullModal px-2">
        <a target="_blank" href="https://es.surveymonkey.com/r/53NVRQP"><img class="w-100"
                src="./assets/Encuesta3.png"></a>
        <p class="mt-2 text-center"><a class="text-{{config_initial.code}}" target="_blank"
                href="https://es.surveymonkey.com/r/53NVRQP">Ingresar a la encuesta</a></p>
    </div>
</ngx-smart-modal>

<ngx-smart-modal #piezaModal identifier="piezaModal" [closable]="false" [escapable]="true" [dismissable]="true"
    [customClass]="'smallModal fullModal noBordersModal'">
    <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSeDsU0-Jrk6M59I3AhpjCsUG2--CKs6-Zki0RO4um6It0jCXw/viewform" target="_blank"> -->
    <img class="w-100 rounded-1" src="https://docs.cientifica.edu.pe/miportal_sise/educanet/mba_final.png">
    <!-- </a> -->
    <div (click)="piezaModal.close()" class="times-close">
        <img src="./assets/img/times-modal.svg" alt="">
    </div>
</ngx-smart-modal>

<ngx-smart-modal #piezaModalSise identifier="piezaModalSise" [closable]="false" [escapable]="true" [dismissable]="true"
    [customClass]="'smallModal fullModal noBordersModal'">
    <a href="https://aulavirtual.sise.edu.pe" target="_blank">
        <img class="w-100 rounded-1" src="./assets/notice_ucs.png">
    </a>
    <iframe allow="autoplay; fullscreen" allowfullscreen src="https://player.vimeo.com/video/659677558?h=3cecc93cb1" frameborder="0" height="580" width="100%"></iframe>
    <div (click)="piezaModalSise.close()" class="times-close">
        <img src="./assets/img/times-modal.svg" alt="">
    </div>
</ngx-smart-modal>

<ngx-smart-modal #piezaModalCientifica identifier="piezaModalCientifica" [closable]="false" [escapable]="true"
    [dismissable]="true" [customClass]="'smallModal fullModal noBordersModal'">
    <a href="https://forms.gle/MM7YJ2HUnuxMZb2R7" target="_blank">
        <img class="w-100 rounded-1"
            src="https://docs.cientifica.edu.pe/miportal_sise/educanet/noticias/encuesta-221121.jpg">
    </a>
    <div (click)="piezaModalCientifica.close()" class="times-close">
        <img src="./assets/img/times-modal.svg" alt="">
    </div>
</ngx-smart-modal>

<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>