<div class="bg-white p-3 rounded-1">

	<div class="row-custom row">

		<div class="col-baner-1 px-0 mb-4">
			<div class="row">
				<div class="col-12 mb-4">
					<div class="card-custom p-4 justify-content-between banner-lv banner-lv-{{config_initial.code}} none-maxw-1300" style="border: unset;">
						<div>
							<h3 class="banner-titulo text-banner-titulo-1">  gestión docente
							</h3>
							<h3 class="text-24 banner-titulo">  ¡Bienvenido a Educanet ! 
							</h3>
							<button class="btn btn-primary btn-primary-{{config_initial.code}} banner-button text-14">Ver Tutorial</button>
						</div>
						<div class="ml-4 ng-star-inserted">
							<img width="400px" src="assets/img/illustrations-{{config_initial.code}}-2.png" alt="educad">
						</div>
					</div>

					<div class="card-custom p-4 justify-content-between banner-lv banner-lv-{{config_initial.code}}-2 show-minw-1300" style="border: unset;">
						<div class="text-center">
							<h3 class="banner-titulo text-banner-titulo-1">  gestión docente
							</h3>
							<h3 class="text-24 banner-titulo">  ¡Bienvenido a Educanet ! 
							</h3>
							<button class="btn btn-primary btn-primary-{{config_initial.code}} banner-button text-14">Ver Tutorial</button>
						</div>
						<div class="ng-star-inserted">
							<img width="400px" src="assets/img/illustrations-{{config_initial.code}}-2.png" alt="educad">
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- <div class="col-md-6 col-lg-8 px-0 mb-4">
			<div class="slideshow-container">

				<div class="mySlides fade">
					<div class="row">
						<div class="col-12 mb-4">

							<div class="card-custom p-4 banner-lv banner-lv-{{config_initial.code}}" style="border: unset;">
								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-4">
										<h3 class="banner-titulo text-banner-titulo-1">  gestión docente
										</h3>
										<h3 class="text-24 banner-titulo text-banner-titulo-2">  ¡Bienvenido a tu portal Educanet!
										</h3>
										<button class="btn btn-primary btn-primary-{{config_initial.code}} banner-button text-14">Ver Tutorial</button>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
										<div class="ng-star-inserted text-center m-pt-40">
											<img  src="assets/img/illustrations-{{config_initial.code}}-2.png" alt="educad">
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				
				<div class="mySlides fade">
					<div class="row">
						<div class="col-12 mb-4">
							
							<div class="card-custom p-4 banner-lv banner-lv-{{config_initial.code}}" style="border: unset;">
								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-4">
										<h3 class="banner-titulo text-banner-titulo-1">  gestión docente
										</h3>
										<h3 class="text-24 banner-titulo text-banner-titulo-2">  ¡Bienvenido a tu portal Educanet!
										</h3>
										<button class="btn btn-primary btn-primary-{{config_initial.code}} banner-button text-14">Ver Tutorial</button>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
										<div class="ng-star-inserted text-center m-pt-40">
											<img  src="assets/img/illustrations-{{config_initial.code}}-2.png" alt="educad">
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				
				<div class="mySlides fade">
					<div class="row">
						<div class="col-12 mb-4">
							
							<div class="card-custom p-4 banner-lv banner-lv-{{config_initial.code}}" style="border: unset;">
								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
										<h3 class="banner-titulo text-banner-titulo-1">  gestión docente
										</h3>
										<h3 class="text-24 banner-titulo text-banner-titulo-2">  ¡Bienvenido a tu portal Educanet!
										</h3>
										<button class="btn btn-primary btn-primary-{{config_initial.code}} banner-button text-14">Ver Tutorial</button>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
										<div class="ng-star-inserted text-center m-pt-40">
											<img  src="assets/img/illustrations-{{config_initial.code}}-2.png" alt="educad">
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				
			</div>
			<br>
			
			<div class="dot-padre">
				<span class="dot-{{config_initial.code}}" (click)="currentSlide(1)"></span> 
				<span class="dot-{{config_initial.code}}" (click)="currentSlide(2)"></span> 
				<span class="dot-{{config_initial.code}}" (click)="currentSlide(3)"></span> 
			</div>
		</div> -->

		<div class="col-baner-2 px-0 mb-4">
			<div class="row">
				<div class="col-12 mb-4 mr-0">
					<div
						class="card-custom d-flex banner-lv-w d-ff-col-nowrap-jc-center">
						
						<div class="d-flex cursor-pointer text-secondary-custom item-card-custom-home-rigth" style="margin-top: 25px;" 
						(click)="openTab(config_initial.code == 'ucs' ? 'https://cientificavirtual.cientifica.edu.pe/login/canvas' : 'https://aulavirtual.sise.edu.pe/login/canvas')">
							<div class="pr-15">
								<img class="pl-md-1 pr-md-3" src="./assets/img/{{config_initial.code}}/seccion_2_1.png">
							</div>
							<div class="text-banner-right">
								{{

									config_initial.code == 'ucs' ? 'Aula Virtual Pregrado-CPE' : 'Aula Virtual'

								}}
								
								<p class="m-0">Plataforma Canvas</p>
							</div>
						</div>

						<div class="d-flex cursor-pointer text-secondary-custom item-card-custom-home-rigth" (click)="openTab(config_initial.code == 'ucs' ? 'https://aulavirtualposgrado.cientifica.edu.pe/' : 'https://zoom.us/')">
							<div class="pr-15">
								<img class="pl-md-1 pr-md-3" src="./assets/img/{{config_initial.code}}/seccion_2_2.png">
							</div>
							<div class="text-banner-right">
								{{
									config_initial.code == 'ucs' ? 'Aula Virtual Posgrado' : 'Zoom'
								}}
								<p class="m-0">
									{{
										config_initial.code == 'ucs' ? 'Plataforma Moodle' : 'Reuniones Virtuales'
									}}
								</p>
							</div>
						</div>

						<div class="d-flex cursor-pointer text-secondary-custom item-card-custom-home-rigth" style="margin-bottom: 25px" (click)="openTab('https://mail.office365.com/')">
							<div class="pr-15">
								<img class="pl-md-1 pr-md-3" src="./assets/img/{{config_initial.code}}/seccion_2_3.png">
							</div>
							<div class="text-banner-right">
								Correo Institucional
								<p class="m-0">
									{{
										config_initial.code == 'ucs' ? 'Buzón Cientifica' : 'Buzón SISE'
									}}
								</p>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row-custom row" *ngIf="classrooms && classrooms.length > 0">
		<div class="col-12 mb-4 d-md-block px-2 d-flex">
			<div class="card-custom div-table-home mr-2 d-flex justify-content-between banner-lv-f" style="overflow-x: auto;">
				<div class="justify-content-between d-flex-block">
					<h3 class="text-18 banner-titulo text-turn"> Mis clases de hoy 
					</h3>
					<h3 class="text-18 banner-titulo">{{ today | date: 'EEEE, d \'de\' MMMM y' | titlecase }}</h3>
				</div>

				<table class="w-100 table-home" summary="educad">
					<thead class="thead-home-{{config_initial.code}}" >
						<tr class="text-center text-s">
							<th class="px-3 py-2 align-middle" style="font-weight: 500 !important;font-size: 14px!important;">Grado - Ciclo-Clase</th>
							<th class="px-3 py-2 align-middle" style="font-weight: 500 !important;font-size: 14px!important;">Curso - Código</th>
							<th class="px-3 py-2 align-middle" style="font-weight: 500 !important;font-size: 14px!important;">Tipo - Sección</th>
							<th class="px-3 py-2 align-middle" style="font-weight: 500 !important;font-size: 14px!important;">Aula - Local</th>
							<th class="px-3 py-2 align-middle" style="font-weight: 500 !important;font-size: 14px!important;">Horario</th>
							<th class="px-3 py-2 align-middle" style="font-weight: 500 !important;font-size: 14px!important;">Registro de Marcación</th>
							<th class="px-3 py-2 align-middle" style="font-weight: 500 !important;font-size: 14px!important;">Marcación Docente</th>
							<th class="px-3 py-2 align-middle" style="font-weight: 500 !important;font-size: 14px!important;">Asistencia Alumnos</th>
						</tr>
					</thead>
					<tbody *ngIf="classrooms && classrooms.length > 0">
						<tr class="text-center text-normal" 
						*ngFor="let classroom of classrooms; let c = 'index'">
							<td class="td-home-16-16-24">{{ classroom.ACAD_CAREER }} - {{ classroom.STRM }} - {{ classroom.CLASS_NBR }}</td>
							<td class="td-home-16-16-24">{{ classroom.CRSE_ID_DESCR }} ({{ classroom.CRSE_ID }})</td>
							<td class="td-home-16-16-24">{{ classroom.SSR_COMPONENT }} - {{ classroom.CLASS_SECTION }}</td>
							<td class="td-home-16-16-24">{{ classroom.DESC_FACILITY }} - {{ classroom.DESC_LOCAL }}</td>
							<td class="td-home-16-16-24" style="min-width: 100px;">{{ classroom.MEETING_TIME_START }} - {{ classroom.MEETING_TIME_END }}</td>
							<td class="td-home-16-16-24">{{ classroom.MARC_TIME_START }} - {{ classroom.MARC_TIME_END }}</td>
							<td class="td-home-16-16-44">
								<button (click)="openRegisterMarking(registerMarkingModal, classroom)" class="table-home-button-icon">
									<mat-icon class="btn-icon btn-icon-grid-{{config_initial.code}}" svgIcon="ic_marcacion_docente"></mat-icon>
								</button>
							</td>
							<td class="td-home-16-16-44">
								<button (click)="goTakeAssistance(takeAssistanceModal, classroom)" class="table-home-button-icon">
									<mat-icon class="btn-icon btn-icon-grid-{{config_initial.code}}" svgIcon="ic_asistencia_alumnos"></mat-icon>
								</button>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	
	<div class="row-custom row" *ngIf="classrooms && classrooms.length == 0">
		<div class="col-12 mb-4 d-md-block px-2 d-flex">
			<div class="card-custom div-table-home-2 mr-2 d-flex justify-content-between banner-lv-f">
				<div class="justify-content-between d-flex-block ">
					<h3 class="text-18 banner-titulo text-turn"> 
						¿Qué deseas hacer hoy?
					</h3>
					<h3 class="text-18 banner-titulo">{{ today | date: 'EEEE, d \'de\' MMMM y' | titlecase }}</h3>
				</div>

				<div class="row my-2 mt-15">

					<div class="col-sm-12 col-md-6 col-lg-3 mb-4 d-md-block px-2 d-flex-block" routerLink="/docente/docentes-historico_marcacion">
						<div class="card-custom-efect div-table-home-2 mr-2 d-flex justify-content-between banner-lv-f h-130">
							<div class="justify-content-between d-block">

								<mat-icon class="btn-icon icon-marcacion-{{config_initial.code}}" svgIcon="ic_historial"></mat-icon>
								<p> 
									Ver historial de marcación
								</p>
							</div>
						</div>
					</div>

					<div class="col-sm-12 col-md-6 col-lg-3 mb-4 d-md-block px-2 d-flex-block"
					routerLink="{{ config_initial.code=='ucs' ? '/docente/constancia-trabajo' : '/docente/historial-boletas' }}"
					>
						<div class="card-custom-efect div-table-home-2 d-flex mr-2 justify-content-between banner-lv-f h-130">
							<div class="justify-content-between d-block">
								<mat-icon class="btn-icon icon-descarga-{{config_initial.code}}" svgIcon="ic_descargar"></mat-icon>
								<p> 
									{{
										config_initial.code == 'ucs' ? 'Descargar Constancia de trabajo' : 'Descargar boletas de pago'
									}}
								</p>
							</div>
						</div>
					</div>

					<div class="col-sm-12 col-md-6 col-lg-3 mb-4 d-md-block px-2 d-flex-block" (click)="goTraining()">
						<div class="card-custom-efect div-table-home-2 d-flex	 mr-2 justify-content-between banner-lv-f h-130">
							<div class="justify-content-between d-block">
								<mat-icon class="btn-icon icon-capacitarme-{{config_initial.code}}" svgIcon="ic_capacitame"></mat-icon>
								<p> 
									Capacitarme virtualmente
								</p>
							</div>
						</div>
					</div>

					<div class="col-sm-12 col-md-6 col-lg-3 mb-4 d-md-block px-2 d-flex-block"
					routerLink="{{ config_initial.code=='ucs' ? '/docente/docentes-cientifica' : '/docente/docentes' }}"
					>
						<div class="card-custom-efect div-table-home-2 d-flex	 mr-2 justify-content-between banner-lv-f h-130">
							<div class="justify-content-between d-block">
								<mat-icon class="btn-icon icon-notas-{{config_initial.code}}" svgIcon="ic_subir_notas"></mat-icon>
								<p> 
									Subir notas
								</p>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>


<ngx-smart-modal #registerMarkingModal identifier="registerMarkingModal" [closable]="false" [customClass]="''">
	<div class="text-center mb-3">
	<h5>{{ realDate.nday + ' ' + realDate.day + ' de ' + realDate.nmonth }}</h5>
	<div class="row justify-content-center align-items-center mb-3">
		<div class="p-3 bg-{{config_initial.code}} text-white"><p class="text-h-xm m-0"><strong> {{realDate.hour}} </strong></p></div>
		<div class="p-1 text-h-l"> : </div>
		<div class="p-3 bg-{{config_initial.code}} text-white"><p class="text-h-xm m-0"> {{realDate.minute}} </p></div>
		<div class="p-1 text-h-l"> : </div>
		<div class="p-3 bg-{{config_initial.code}} text-white"><p class="text-h-xm m-0"> {{realDate.second}} </p></div>
	</div>
	</div>
	<div class="p-2 bg-{{config_initial.code}} text-white text-m mb-2"> Ciclo lectivo: {{ realClassroom.INSTITUTION + '- ' + realClassroom.SSR_COMPONENT + ' ' + realClassroom.STRM }} </div>
	<div class="row mb-2">
		<div class="col-4"> Curso: </div>
		<div class="col-8"> {{ realClassroom.CRSE_ID + ' ' + realClassroom.CRSE_ID_DESCR }} </div>
	</div>
	<div class="row mb-2">
		<div class="col-4"> Componente: </div>
		<div class="col-8"> {{ realClassroom.SSR_COMPONENT_DESC }} </div>
	</div>
	<div class="row mb-2">
		<div class="col-4"> Sección: </div>
		<div class="col-8"> {{ realClassroom.CLASS_SECTION }} </div>
	</div>
	<div class="row mb-2">
		<div class="col-4"> Aula: </div>
		<div class="col-8"> {{ realClassroom.ROOM }} </div>
	</div>
	<div class="row mb-2">
		<div class="col-4"> Estado: </div>
		<div class="col-8"> {{ realClassroom.LVF_STATUS_MTG_DESC }} </div>
	</div>
	<div class="p-2 bg-{{config_initial.code}} text-white text-m mb-2"> Hora reunión: {{ realClassroom.MEETING_TIME_START + '- ' + realClassroom.MEETING_TIME_END }} </div>
	<div class="row mb-2">
		<div class="col-4"> Hora de entrada: </div>
		<div class="col-8"> {{ realClassroom.MARC_TIME_START }} </div>
	</div>
	<div class="row mb-3">
		<div class="col-4"> Hora de salida: </div>
		<div class="col-8"> {{ realClassroom.MARC_TIME_END }} </div>
	</div>
  	<div class="row justify-content-between mb-3">
		<button *ngIf="cod_company == '002'" (click)="registerMarking()" class="btn btn-success mr-2">{{realClassroom.MARC_TIME_START?'Registrar Salida':'Registrar Entrada'}}</button>
		<button *ngIf="cod_company != '002' && realClassroom.ACAD_CAREER =='VIRT'" (click)="registerMarking()" class="btn btn-success mr-2">{{realClassroom.MARC_TIME_START?'Registrar Salida':'Registrar Entrada'}}</button>
		<button (click)="registerMarkingModal.close()" class="btn btn-secondary mr-2">Cerrar</button>
  	</div>
  	<div class="alert alert-{{typeMessage == 'Y'?'info':'danger'}}" *ngIf="message"> {{ message + ' ' + ip }}</div>  	
</ngx-smart-modal>

<ngx-smart-modal #myClassesModal identifier="myClassesModal" [closable]="false" [escapable]="false" [dismissable]="false" [customClass]="''">
	<div class="mb-3 row justify-content-between pb-2 bd-b-1 bd-{{config_initial.code}}">
		<h5 class=""> <strong> Mis Links Zoom </strong> </h5>
		<a (click)="myClassesModal.close()" class="pointer"><i class="fa fa-times text-{{config_initial.code}} text-l"></i></a>
	</div>
	<div class="text-center mb-3">
		<div class="d-flex flex-column text-left">
			<a class="my-1" *ngFor="let room of nextClassesLink" [href]="room.url" target="_blank">{{room.title}}</a>
		</div>
	</div> 	
</ngx-smart-modal>


<ngx-smart-modal #takeAssistanceModal identifier="takeAssistanceModal" [closable]="false" [escapable]="false" [dismissable]="false" [customClass]="'mediumModal'">
	<div class="text-center mb-3">
		<h5>Lista de alumnos ({{ MODALHEAD.CRSE_ID + ' - ' + MODALHEAD.CRSE_ID_DESCR + ' - ' + MODALHEAD.CLASS_NBR}}) {{MODALHEAD.CLASS_ATTEND_DT}}</h5>
	</div>

	<div class="mb-3 rounded-1 scroll bd-1 bd-{{config_initial.code}}">
		<table id="table-students" class="w-100" summary="educad">
			<thead class="bg-{{config_initial.code}}">
				<tr class="text-white text-center text-s">
					<th class="px-3 py-2 align-middle">Nro</th>
					<th class="px-3 py-2 align-middle">Emplid</th>
					<th class="px-3 py-2 align-middle">Apellidos y Nombres</th>
					<th class="px-3 py-2 align-middle">¿Asistió?</th>
					<th *ngIf="cod_company == '002'" class="px-3 py-2 align-middle">Delegado</th>
					<th *ngIf="cod_company == '002'" class="px-3 py-2 align-middle">Sub Delegado</th>
				</tr>
			</thead>
			<tbody *ngIf="studentsDetail && studentsDetail.length > 0">
				<tr [style.color]="studentD.ESTADO=='D'?'#bababa':''" class="text-center text-s {{s < studentsDetail.length - 1?'bd-b-1':''}}" *ngFor="let studentD of studentsDetail; let s = 'index'">
					<td class="p-1">{{ s + 1 }}</td>
					<td class="p-1">{{ studentD.EMPLID }}</td>
					<td class="p-1">{{ studentD.NAME }}</td>
					<td class="p-1">
						<div class="onoffswitch">
							<input [disabled]="studentD.ESTADO=='D' || disabledMarking" [checked]="studentD.ATTEND_PRESENT=='Y'" type="checkbox" name="student{{studentD.EMPLID}}" class="onoffswitch-checkbox" id="student{{studentD.EMPLID}}" (click)="check_assistance(studentD)"> 
							<label class="onoffswitch-label" for="student{{studentD.EMPLID}}" style="margin-bottom: 0">
									<span class="onoffswitch-inner"></span>
									<span class="onoffswitch-switch"></span>
							</label>
						</div>
					</td>
					<td *ngIf="cod_company == '002'" class="p-1">
						<input [checked]="studentD.DELEGADO == 'D'" [disabled]="studentD.DELEGADO == 'S' || studentD.ESTADO=='D' || disabledMarking" (change)="updateDelegate(studentD)" name="delegado" class="form-radio" type="radio" >
					</td>
					<td *ngIf="cod_company == '002'" class="p-1" [style.color]="studentD.ATTEND_PRESENT != 'Y'?'red':''">
						<input [checked]="studentD.DELEGADO == 'S'" [disabled]="studentD.DELEGADO == 'D' || studentD.ESTADO=='D' || disabledMarking" (change)="updateSubdelegate(studentD)" name="subdelegado" class="form-radio" type="radio">
					</td>
				</tr>
			</tbody>
			<tbody *ngIf="studentsDetail && studentsDetail.length == 0">
				<tr class="text-center text-s">
					<td class="p-2" colspan="6"> 
						<div class="alert alert-warning m-0"> Atención! No se encontraron alumnos. </div> 
					</td>
				</tr>
			</tbody>
			<tbody *ngIf="!studentsDetail">
				<tr class="text-center text-s">
					<td class="p-2" colspan="6"> <div class="alert alert-info m-0"> Cargando alumnos... </div> </td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="row justify-content-between">
		<div *ngIf="!disabledMarking">
			<button *ngIf="studentsDetail && !allMarkedStudents()" (click)="markingStudents(true)" class="btn btn-warning">Marcar todo<em class="fa fa-times"></em></button>
			<button *ngIf="studentsDetail && allMarkedStudents()" (click)="markingStudents(false)" class="btn btn-danger">Desmarcar todo<em class="fa fa-times"></em></button>
		</div>
		<div *ngIf="disabledMarking">
			<div class="alert alert-warning m-0"> <strong>Atención!</strong>  Usted se encuentra en modo consulta. </div>
		</div>
		<div>
			<button *ngIf="haveChanges && !disabledMarking" (click)="saveAssistance()" class="btn btn-primary mr-2">Guardar</button>
			<button (click)="takeAssistanceModal.close()" class="btn btn-secondary">Cerrar</button>
		</div>
	</div>
</ngx-smart-modal>

<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>

<div *ngIf="config_initial.code == 'ucs'" class="wsp-link" (click)="openTab('https://api.whatsapp.com/send?phone=+51988576507');">
	<img src="assets/new-login/wsp-icon.svg" width="70px" height="70px" class="cursor-pointer" alt="">
</div>