<div class="row mt-3">
	<div class="col-md-8 text-m">
		Si no recuerdas tu Usuario de Docente, contraseña o tienes algún inconveniente para acceder a Intranet, correo institucional o alguna de nuestras plataformas, comunícate con tu equipo de Tecnologías a través de nuestro Whatsapp
	</div>
	<div class="col-md-4">
		<a href="https://api.whatsapp.com/send?phone=5117071846&text=!Hola!%20No%20puedo%20acceder%20a%20Intranet%20(Educanet)%20o%20a%20mi%20correo%20de%20docente%20.%20%20%C2%BFPueden%20ayudarme?." class="btn bg-wsp">
			<img src="https://docs.cientifica.edu.pe/general_pdf/wsp.png">
		</a>
	</div>
</div>