.text-modal {
	color: #FFFFFF;
	font-weight: bold;
	background-color: #204491;
}

span.description {
	font-size: 12px;
	white-space: break-spaces;
}

.my_box {
	border: 1px solid #204491;
	padding: 5px 10px;
}

.my_box_wsp {
	border: 1px solid #34bc58;
	background: #34bc58;
	padding: 5px 10px;
	i {
		color: #ffffff;
	}
}